:root{
    /* color */
    --color-green:#03c75a;
    --color-black: #000000;
    --color-light-black: #333333;
    --color-light-grey:#ccc;
    --color-dark-grey:#8e8e8e;

    /* size */
    --icon-size: 26px;


    /* font size */
    --font-large: 20px;
    --font-medium: 16px;
    --font-small: 14px;
    --font-micro:12px;
}

body{
    font-family: 'Roboto';
    background-color: #f5f6f7;
}

.languageBox select{
    position: absolute;
    top: 8px;
    right: 0;
    border: 1px solid var(--color-light-grey);
    background-color: rgba(255, 255, 255, 0.1); /*배경 투명하게*/
    padding: 3px 10px 3px 6px;
    width: 82px;
}

.languageBox select option{
    font-size: var(--font-micro);
}

@media (max-width: 768px){

    .naverLogo img{
        width:165px;
        height: 32px;
    }
}

@media (min-width: 768px){
    header, section{
        width: 460px;
        margin: auto;
    }
    
    body{
        margin: auto;
        display: table;

    }
}

.naverLogo{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header, section{
    text-align:center;
    position: relative;
    margin: 0 15px;
}

.loginForm div{
    margin: 3px 0;
    
}

.logintext{
    border: 1px solid var(--color-light-grey);
    padding: 15px 10px;
    width: 97%;
    font-size: var(--font-micro);
}

.submit{
    padding: 10px 0px;
}

.submit input{
    background-color: var(--color-green);
    border:1px solid green;
    width: 100%;
    height: 54px;
    color: white;
    font-size: var(--font-large);
}

.submit input:hover{
    cursor: pointer;
}

.loginCheck{
    display: flex;
    justify-content: space-between;
}

.maintain span{
    color: var(--color-light-black);
    vertical-align: middle;
}

.maintain i{
    color: var(--color-light-grey);
    font-size: var(--icon-size);
}

.ipOnOff button{
    border: none;
    background-color: rgba(255, 255, 255, 0.1); /*배경 투명하게*/
    font-size: var(--font-medium);
}

.ipOnOff > span{
    font-weight: bold;
    color: var(--color-dark-grey);
}

.easyLogin{
    border-top: 1px solid var(--color-light-grey);
    padding: 10px;
}
.easyLoginBtns{
    display: flex;
}

.easyLoginBtns div{
    border: 1px solid var(--color-green);
    background-color: white;
    flex:50%;
    margin: 5px;
}


.easyLoginBtns div button{
    width: 100%;
    padding: 15px;
    height: 100%;
    background-color: white;
    border: none;
}

.easyLoginBtns div button:hover{
    cursor: pointer;
}

.easyLoginBtns div button span{
    font-size: var(--font-medium);
    padding: 5px;
    vertical-align: middle;
    font-weight: bold;
}

.qrLogin span i{
    color: var(--color-green);
}

.easyLoginBtns div button span img{
    width: 20px;
}

.otherActive{
    padding: 10px;
    font-size: var(--font-small);
}

.otherActive span{
    color: var(--color-light-grey);
}

.otherActive a{
    text-decoration: none;
    color: var(--color-dark-grey);
}

.bannerArea{
    margin: 30px 0;
}

.bannerArea img{
    width: 100%;
    max-width: 460px;
}

/* @media screen and(min-width: 768px){
    .naverLogo img{
        width:231px;
        height: 44px;
    }
} */













